*{
    margin:100;
    padding: 0;
}
body{
    
    justify-content: center;
    min-height:  100vh;
    background-color: aquamarine;
}
.PenguinHead >h1{
    position: absolute;
    margin:0;
    padding: 0;
    text-align: center;
    font-family: "Edu TAS Beginner", cursive;
   top: -170px;
   left: 70px;
    scale: 3;
    color: palevioletred;
    
  }


.PenguinHead{
   position: relative;
    top: 300px;
    left: 34%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: -1;
    width: 400px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    border-radius: 40%;
}
.LeftEye{
    position: absolute;
    top: 40%;
    left: 30%;
    margin-top: -50px;
    margin-left: -50px;
    
    width: 120px;
    height: 120px;
    background-color: azure;
    border-radius: 50%;

}
.RightEye{
    position: absolute;
    top: 40%;
    left: 65%;
    margin-top: -50px;
    margin-left: -50px;
    
    width: 120px;
    height: 120px;
    background-color:azure;
    border-radius: 50%;

}

.LeftEyeBlack{
    position: absolute;
    top: 65%;
    left: 65%;
    margin-top: -50px;
    margin-left: -50px;
    
    width: 60px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;

}
.RightEyeBlack{
    position: absolute;
    top: 65%;
    left: 65%;
    margin-top: -50px;
    margin-left: -50px;
    
    width: 60px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}


.PenguinBody{
    
    top:350px;
    left:-40px;
    position: absolute;
    width: 500px;
    height: 500px;
    background-color:black;
    border-radius: 30%;
    z-index: -2;
    

    
}
.ineerBody{
    top:10%;
    left:15%;
    position: absolute;
    width: 350px;
    height: 420px;
    background-color:azure;
    border-radius: 30%;
    
}






.triangle{
    position: absolute;
    top: 300px;
    left: 150px;
    width: 100px;
    height: 100px;
    background-color: orange;
    border-top-right-radius: 30%;
    transform: rotate(120deg) skew(-30deg) scale(1,.866);
    z-index: 3;


}


.triangle::before,
.triangle::after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background: inherit;
    border-top-right-radius: inherit;
}


.triangle::before{
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707)
    translateY(-50%);
}

.triangle::after{
  
   transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414)
    translateX(50%);
   
   
}

 
  .LeftFoot{
    position: absolute;
    left:70px;
    top: 470px;
  
    z-index: -1;
    width: 0; 
    height: 0; 
    border-left: 100px solid transparent ;
    border-right: 160px solid transparent;
    border-radius: 10px;
    
    
    border-top: 100px solid orangered;
  }
  .RightFoot{
    position: absolute;
    left:180px;
    top: 470px;
  
    z-index: -1;
    width: 0; 
    height: 0; 
    border-left: 160px solid transparent ;
    border-right: 100px solid transparent;
    border-radius: 10px;
    
    
    border-top: 100px solid orangered;
  }

  .leftWing{
    position: absolute;
    top: 15%;
    left: 8%;
    margin-top: -120px;
    margin-left: -160px;
    
    width: 120px;
    height: 500px;
    background-color:rgb(46, 37, 37);
    border-radius: 50%;
    transform: rotate(40deg);


  }
  .RightWing{
    position: absolute;
    top: 15%;
    left: 86%;
    margin-top: -120px;
    margin-left: 70px;
    
    width: 120px;
    height: 500px;
    background-color:rgb(46, 37, 37);
    border-radius: 50%;
    transform: rotate(-40deg);


  }

  .Text2
  {
    position: absolute;
    text-align: center;
   top: 900px;
   left: 0%;
    color: red;
    font-size: 30px;
    
  }
 
